@import "../../../common.scss";

.navigation {
  margin-bottom: 1rem;
  background-color: rgb(218 220 225);

  &__wrapper {
    display: flex;
    justify-content: space-between;
    padding: 1rem 4rem;
  }

  &__elements {
    display: flex;
    gap: 1.6rem;

    a {
      display: flex;
      align-items: center;
      color: black;
      text-decoration: none;
    }
  }

  .active {
    text-decoration: underline;
  }

  &__menu {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    display: none;
    padding: inherit;
    color: #2688eb;
    background-color: transparent;
    border: none;
  }

  @include --mobile {
    &__wrapper {
      flex-direction: column-reverse;
      align-items: center;
      padding: 1rem 2rem;

      .navigation__login {
        margin-left: auto;
      }
    }

    &__elements {
      display: none;

      &--active {
        display: flex;
        flex-direction: column;
        gap: 1.6rem;
      }
    }

    &__menu {
      display: block;
    }
  }
}
